@import url('https://fonts.googleapis.com/css?family=Concert+One|Grand+Hotel&display=swap');

nav {
    background: linear-gradient(to right, #cf86fc, #c061fa, #9800f5);
}

.navbar-brand {
    color: white !important;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Grand Hotel', cursive;
}

.sideBar {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.sideBar img {
    width: 100px;
    height: 100px;
    margin-top: 8px;
}

.sideBar p {
    font-family: 'Concert One', cursive;
}

.card img {
    width: 250px;
    height: 150px;
    margin-top: 8px;
}

.card {
    font-family: 'Concert One', cursive;
}